from setuptools import find_packages, setup

package_name = "{{ package_name }}"

setup(
    name=package_name,
    version="0.1.0",
    packages=find_packages(exclude=["test"]),
    data_files=[
        ("share/ament_index/resource_index/packages", ["resource/" + package_name]),
        ("share/" + package_name, ["package.xml"]),
        ("share/" + package_name + "/launch", ["launch/{{ node_name }}.launch.py"]),
    ],
    install_requires=["setuptools"],
    zip_safe=True,
    maintainer="{{ maintainer }}",
    maintainer_email="{{ maintainer_email }}",
    description="User package: {{ package_name }}",
    license="GPL-3.0-only",
    entry_points={
        "console_scripts": [
            "{{ node_name }}_node = {{ package_name }}.{{ node_name }}_node:main",
        ],
    },
)
